<p id="notice"><%= notice %></p>

<h1>Webhooks</h1>

<table border="1">
  <thead>
    <tr align="left">
      <th>Event Type</th>
      <th>Data</th>
    </tr>
  </thead>

  <tbody>
    <% @webhooks.each do |webhook| %>
      <tr>
        <td><%= webhook.event_type %></td>
        <td><%= webhook.data %></td>
      </tr>
    <% end %>
  </tbody>
</table>